.leaflet-bar a {
    background-color: rgba(254, 247, 236, 1) !important;
    width: 40px !important;
    height: 40px !important;
}

.leaflet-draw-draw-polygon {
    background-position: -24px 4px !important;
}

.leaflet-draw-edit-remove {
    background-position: -235px 4px !important;
}

.leaflet-draw-actions {
    top: 6px !important;
    right: 45px !important;
}

.leaflet-draw-actions li a {
    background-color: #127C5A !important ;
    color: rgba(254, 247, 236, 1) !important;
}